@font-face {
  font-family: "Starjout";
  src: url("../assets/fonts/Starjout.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Stjedise";
  src: url("../assets/fonts/Stjedise.ttf");
  font-weight: 500;
  font-style: normal;
}
